version: '3.8'

services:
  cotacao-hapvida:
    build: .
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    # Recursos recomendados para Selenium
    shm_size: '2gb'
    deploy:
      resources:
        limits:
          memory: 2G
